In [2]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

In [3]:
# list can actually hold different objects
my_list = ['A string',23,100.232,'o']

In [4]:
len(my_list)

4

In [5]:
# Indexing and Slicing
# Indexing and slicing work just like in strings. Let's make a new list to remind ourselves of how this works:
my_list = ['one','two','three',4,5]

In [6]:
# Grab element at index 0# Grab  
my_list[0]

'one'

In [7]:
# Grab index 1 and everything past it# Grab  
my_list[1:]

['two', 'three', 4, 5]

In [8]:
# Grab everything UP TO index 3
my_list[:3]

['one', 'two', 'three']

In [9]:
# use + to concatenate lists, just like we did for strings.
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

In [10]:
# notice that the above code does not change the original list
my_list

['one', 'two', 'three', 4, 5]

In [11]:
# reassign the list to make permanent change
my_list = my_list + ["a new value"]
my_list

['one', 'two', 'three', 4, 5, 'a new value']

In [12]:
# We can also use the * for a duplication method similar to strings
my_list*3

['one',
 'two',
 'three',
 4,
 5,
 'a new value',
 'one',
 'two',
 'three',
 4,
 5,
 'a new value',
 'one',
 'two',
 'three',
 4,
 5,
 'a new value']

In [13]:
# note that the doubling or tripling using * is not permanent
my_list

['one', 'two', 'three', 4, 5, 'a new value']

In [14]:
# Create a new list# Create 
list1 = [1,2,3]

In [15]:
# Append# Append
list1.append('append this text!')

In [16]:
# Show
list1

[1, 2, 3, 'append this text!']

In [17]:
# Pop off the 0 indexed item
list1.pop(0)

1

In [23]:
# Show
list1 =[2,3,"append this text again"]

In [24]:
# Assign the popped element, remember default popped index is -1# Assign 
popped_item = list1.pop()

In [25]:
popped_item

'append this text again'

In [26]:
# remaining list
list1

[2, 3]

In [27]:
#  lists indexing will return an error if there is no element at that index
list1[200]

IndexError: list index out of range

In [28]:
# We can use the sort method and the reverse methods to also effect your lists:
x = [1,2,3,4,5,6,7,8]

In [29]:
# reverese method
x.reverse()
x

[8, 7, 6, 5, 4, 3, 2, 1]

In [30]:
# sort method (sort in case of numbers sorts ascending and in case of alphbets goes for alphabetical order)
x.sort()
x

[1, 2, 3, 4, 5, 6, 7, 8]

In [32]:
# Nesting list
# A great feature of Python data structures is that they support nesting. 
# This means we can have data structures within data structures. 
# example:
first = [1,2,3]
second = ['a','b','c']
third = [5,6,7]

nesting_list = [first,second,third]
nesting_list

[[1, 2, 3], ['a', 'b', 'c'], [5, 6, 7]]

In [33]:
# grab first item in nesting_list
nesting_list[0]

[1, 2, 3]

In [35]:
# grab first of first item in nesting_list
nesting_list[0][0]

1

In [36]:
# List Comprehensions

# Build a list comprehension by deconstructing a for loop within a []# Build  
first_col = [row[0] for row in nesting_list]
first_col

[1, 'a', 5]

0