In [1]:
# Single word
'hello'

'hello'

In [2]:
# Entire phrase # Entir 
'This is also a string'

'This is also a string'

In [3]:
# We can also use double quote# We ca 
"Creating String built with double quotes"

'Creating String built with double quotes'

In [4]:
# Be careful with quotes such kinda quotes!
' I'm using single quotes, but this will create an error'

SyntaxError: invalid syntax (<ipython-input-4-b1afa29c5c21>, line 2)

In [5]:
# This is the correct way which wont give any errors
"Now I'm ready to use the single quotes inside a string!"

"Now I'm ready to use the single quotes inside a string!"

In [6]:
# We can simply declare a string
'Hello World'

'Hello World'

In [8]:
# important note
# Note that we can't output multiple strings this way# Note  
'Hello World 1'
'Hello World 2'
'Hello World 3'

'Hello World 3'

In [9]:
# we should use the print statement
print('Hello World 1')
print('Hello World 2')
print('Use \n to print a new line')
print('\n')
print('See what I mean?')

Hello World 1
Hello World 2
Use
 to print a new line


See what I mean?

In [13]:
# finding the length of string
len("Hello World''Hello"  )

18

In [14]:
# Assign s as a string
var_string = 'Hello World'

In [15]:
#check
var_string

'Hello World'

In [16]:
# print the object
print(var_string)

Hello World

Start the Indexing

In [18]:
# check the indexing, indexing starts from zero
var_string[5]

' '

In [19]:
var_string[7]

'o'

In [20]:
# Grab everything past the first term all the way to the length of s which is len(s)
var_string[1:]

'ello World'

In [21]:
#can also be used like, grab from start to 7 index of the string
var_string[:7]

'Hello W'

In [22]:
s ="hello world"

In [23]:
# everyting
s[:]

'hello world'

In [24]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [25]:
# Grab everything but the last letter
s[:-1]

'hello worl'

In [26]:

# Grab everything, but go in steps size of 1# 
s[::1]

'hello world'

In [27]:
# Grab everything, but go in step sizes of 2
s[::2]

'hlowrd'

In [28]:
# We can use this to print a string backwards
s[::-1]

'dlrow olleh'

String Properties:
It's important to note that strings have an important property known as immutability. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [29]:
s

'hello world'

In [30]:
# Let's try to change the first letter to 'x'# Let's  
s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [31]:
# Concatenate strings!# Concat 
s + ' concatenate me!'

'hello world concatenate me!'

In [32]:
# We can reassign s completely though!# We can 
s = s + ' concatenate me!'

In [33]:
print(s)

hello world concatenate me!

In [34]:
s

'hello world concatenate me!'

In [35]:
# We can use the multiplication symbol to create repetition!

letter =  'z'

In [36]:
letter*10

'zzzzzzzzzz'

In [37]:
# BUILT in string methods

In [38]:
s

'hello world concatenate me!'

In [39]:
# Upper Case a string# Upper  
s.upper()

'HELLO WORLD CONCATENATE ME!'

In [40]:
# Split a string by blank space (this is the default)
s.split()

['hello', 'world', 'concatenate', 'me!']

In [41]:
# Lower case
s.lower()

'hello world concatenate me!'

In [43]:
# Split by a specific element (doesn't include the element that was split on)
s.split('w')

['hello ', 'orld concatenate me!']

In [46]:
# this means start from s[1],stop at s[8], step size s[1] that is step size is step 1
s[1:8:1]

'ello wo'

In [48]:
# from all the way to the begining to all the way till the end take a step size of -1
# this will reverse the string
x = "abcdefghijklmnop"
x[3::4]

'dhlp'

In [50]:
# this means all the way from s[3] to all the way till the end take a step size of 4 
s

'hello world concatenate me!'

In [51]:
s[3::4]

'lo cn '

In [52]:
# Print Formatting
# We can use the .format() method to add formatted objects to printed string statements.

# The easiest way to show this is through an example:

"this is print formating {},this is to insert strings within the curly braces {}".format("x","y")

'this is print formating x,this is to insert strings within the curly braces y'

In [60]:
# another example of formating here cat is at index 0 ,abraham at 2 and lord at 3
"this is {2}, this is {0}, this is {1}".format("cat","abraham","lord")

'this is lord, this is cat, this is abraham'

In [62]:
# we can also decalre variables with values inside format
"this is {a} {b} {c}".format(a="the",b="game", c="hhh")

'this is the game hhh'

In [66]:
# setting up result for print formatting
result=100/777
result

0.1287001287001287

In [72]:
# FLOAT formatting follows: {value:width.precesion f} 

"this is the result {r:1.3f}".format(r=result)

'this is the result 0.129'

In [73]:
"this is the result {r:10.3f}".format(r=result)

'this is the result      0.129'

In [75]:
# we can also use the F-STRING this is new in python 3.6
name="myk"
print(f"he is the a great coder , his name is {name}")

he is the a great coder , his name is myk