In [6]:
s = set()

In [7]:
# add
s.add(1)
s.add(2)
s

{1, 2}

In [8]:
# clear
s.clear()

In [9]:
# copy¶
# returns a copy of the set. Note it is a copy, so changes to the original don't effect the copy.
s = {1,2,3}
sc = s.copy()
sc

{1, 2, 3}

In [10]:
sc.add(4)

In [12]:
# difference returns the difference of two or more sets. The syntax is:
# set1.difference(set2)
sc.difference(s)

{4}

In [19]:
# difference_update
# difference_update syntax is:
# set1.difference_update(set2)
# the method returns set1 after removing elements found in set2
s1 = {1,2,3}
s2 = {1,4,5}
s1.difference_update(s2)
s1

{2, 3}

In [17]:
# discard
# Removes an element from a set if it is a member. If the element is not a member, do nothing.

In [23]:
s = {1,2,3,4,4}
s.discard(4)
s

{1, 2, 3}

In [25]:
# intersection
s1 = {1,2,3}
s2 = {3,4,5}
s1.intersection(s2)

{3}

In [26]:
# s.intersection_update()
s1.intersection_update(s2)
s1

{3}

In [28]:
# isdisjoint
# This method will return True if two sets have a null intersection.
s1 = {1,2}
s2 = {1,2,4}
s3 = {5}
s1.isdisjoint(s2)

False

In [29]:
s1.isdisjoint(s3)

True

In [30]:
# issubset
s1.issubset(s2)

True

In [31]:
s2.issubset(s1)

False

In [32]:
# issuperset
s2.issuperset(s1)

True

In [33]:
# symmetric_difference and symmetric_update¶
# Return the symmetric difference of two sets as a new set.(i.e. all elements that are in exactly one of the sets.)
s1

{1, 2}

In [34]:
s2

{1, 2, 4}

In [36]:

s1.symmetric_difference(s2)

{4}

In [37]:
# union
# Returns the union of two sets (i.e. all elements that are in either set.)
s1.union(s2)

{1, 2, 4}

In [38]:
# update
# Update a set with the union of itself and others.
s1.update(s2)
s1

{1, 2, 4}